# editors and stuff
*.sublime-*
.gource*

# eclipse
.project
.buildpath
.settings/

# temp and backup files, OS specific files
*.backup
*~
*.tmp
Thumbs.db
._*
.DS_Store

# ignore local configs,
# track config/default/ instead
config/*.conf.php

# styles are compiled from less
style/*.css

# ignore .htaccess, track *.htaccess instead
.htaccess
