a:hover {
	text-shadow: 1px 1px 0 #fff,
				 0 0 3px rgba(0,0,0,.2);
}

header#header,
footer#footer {
	color: #444;
	text-shadow: 1px 1px 0 white;

	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );

	box-shadow: 0 0 4px #777;

}
#panel ul {
	border-color:	red
					rgba(255,255,255,.4)
					red
					rgba(0,0,0,.1);
	border-width: 0 1px;
}
#panel ul li a {
	color: #666;
	border-color:	red
					rgba(0,0,0,.1)
					red
					rgba(255,255,255,.4);
	border-width: 0 1px;
}
#panel ul li a:hover {
	background: #e0e0e0;
background: -moz-linear-gradient(top,  #e0e0e0 0%, #f5f5f5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f5f5f5));
background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f5f5f5 100%);
background: -o-linear-gradient(top,  #e0e0e0 0%,#f5f5f5 100%);
background: -ms-linear-gradient(top,  #e0e0e0 0%,#f5f5f5 100%);
background: linear-gradient(to bottom,  #e0e0e0 0%,#f5f5f5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f5f5f5',GradientType=0 );
box-shadow: inset 0 0 10px rgba(0,0,0,.1);
}
#game {
	background-color: #ececec;
}

#game header {
	color: #666;
	text-shadow: 1px 1px 0 white;
	background-color: #f5f5f5;
	box-shadow: 0 0 2px #999;

}
#clock {
	border-left: 1px solid #e0e0e0;
}
#gameMenu ul {
	box-shadow: 0 0 2px #bbb;
}
#gameMenu ul,
#gameMenu li:first-child,
#gameMenu li:first-child a {
	color: #666;
	text-shadow: 1px 1px 0 white;
	border-top-left-radius: 6px;
}
#gameMenu li a {
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e9e9e9 50%, #dfdfdf 51%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#e9e9e9), color-stop(51%,#dfdfdf), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e9e9e9 50%,#dfdfdf 51%,#f8f8f8 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e9e9e9 50%,#dfdfdf 51%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e9e9e9 50%,#dfdfdf 51%,#f8f8f8 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e9e9e9 50%,#dfdfdf 51%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8',GradientType=0 );
	
	border-color: white #ddd transparent white;
	border-width: 1px 1px 0 1px;
}
#gameMenu li a:hover {
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #dddddd 50%, #cccccc 51%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#dddddd), color-stop(51%,#cccccc), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#dddddd 50%,#cccccc 51%,#f8f8f8 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#dddddd 50%,#cccccc 51%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#dddddd 50%,#cccccc 51%,#f8f8f8 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#dddddd 50%,#cccccc 51%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8',GradientType=0 );

	box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	border-color: #eee #ccc transparent #eee;
	color: #444;

}


table#chessboardTable {
	color: #444;
	background-color: #d3d3d3;
	box-shadow: 0 .5em .3em -.3em #ccc,
				0 0 1em #ddd;
}
td.square {
	box-shadow: inset 0 0 10px rgba(100,100,100,.2);
}
td.square:hover {
	box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
td.square.light {
	background-color: #f5f5f5;
}
td.square.dark {
	background-color: #bbb;
}
td.square.light:hover {
	background-color: #fff;
	color: #333;
}
td.square.dark:hover {
	background-color: #b0b0b0;
	color: #222;
}
.chesspiece {
	/*border: 1px dashed #cfcfcf;*/
	/*box-shadow: inset 0 0 4px #cfcfcf;*/
	box-shadow: inset 0 0 4px rgba(0,0,0,.15);
}


tfoot td,
thead td,
th {
	font-family: 'Georgia';
	/*background-color: #d9d9d9;*/
	background-color: transparent;
	box-shadow: inset 0 0 1em rgba(0,0,0,.1);
}

ol.prison {
	color: #555;
}

#chat {
	background-color: #ebebeb;
	box-shadow: 0 0 4px #aaa;
}

#chat section,
#chatText {
	color: #444;
	background-color: #f3f3f3;
	border-radius: 4px;
	box-shadow: inset 0 0 3px #aaa;
}
#chatLog span.msgAuthor {
	border-right: 1px dotted #ccc;
}
#chatLog p.msgOwn span.msgAuthor {
	color: green;
}
#chatLog p.msgOther span.msgAuthor {
	color: red;
}
#chatLog p.msgBot {
	color: blue;
}

input#chatText {
	resize: none;
	width: 94%;
	padding: 0 3%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
input#chatSubmit {
	font-weight: bold;
	color: #777;
	text-shadow: 1px 1px 0 #e5e5e5;

	background: #d8d8d8;
	background: -moz-linear-gradient(top,  #d8d8d8 0%, #b8b8b8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#b8b8b8));
	background: -webkit-linear-gradient(top,  #d8d8d8 0%,#b8b8b8 100%);
	background: -o-linear-gradient(top,  #d8d8d8 0%,#b8b8b8 100%);
	background: -ms-linear-gradient(top,  #d8d8d8 0%,#b8b8b8 100%);
	background: linear-gradient(to bottom,  #d8d8d8 0%,#b8b8b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#b8b8b8',GradientType=0 );

	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: inset -1px -1px 3px #aaa;
}
input#chatSubmit:hover {
	color: #555;
}
input#chatSubmit:active {
	background: #b8b8b8;
	background: -moz-linear-gradient(top,  #b8b8b8 0%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8b8b8), color-stop(100%,#d8d8d8));
	background: -webkit-linear-gradient(top,  #b8b8b8 0%,#d8d8d8 100%);
	background: -o-linear-gradient(top,  #b8b8b8 0%,#d8d8d8 100%);
	background: -ms-linear-gradient(top,  #b8b8b8 0%,#d8d8d8 100%);
	background: linear-gradient(to bottom,  #b8b8b8 0%,#d8d8d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#d8d8d8',GradientType=0 );
}

footer#footer {
	color: #888;
}
footer#footer a:hover {
	color: #555;
}
/*
#footerMenu a {
	border-left: 1px solid #f9f9f9;
	border-right: 1px solid #d0d0d0;
}
#footerMenu li:first-child a {
	border-left-width: 0;
}
#footerMenu li:last-child a {
	border-right-width: 0;
}*/
