@import url("fonts.css");
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	text-align: center;
	font-family: 'Ubuntu';
}
*, input {
	padding: 0;
	margin: 0;
	border-width: 0;
	border-style: solid;

	-moz-transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-moz-transition-property: -moz-linear-gradient, color, background, background-color, background-image, border-color, opacity, text-shadow, box-shadow;
	-webkit-transition-property: -webkit-linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
	transition-property: linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, ol, li {
	list-style-type: none;
}
span.icon {
	display: inline-block;
	padding: 0 .2em;
	font-weight: normal;
	font-size: 1.333em;
	line-height: .75em;
}
span.vs {
	opacity: .5;
	font-weight: normal;
	padding: 0 .2em;
}


header#header,
main,
footer#footer {
	position: absolute;
	left: 0;
	right: 0;
}
header#header {
	top: 0;
	height: 3em;
	z-index: 200;
}
main {
    top: 3em;
    bottom: 2em;
    z-index: 100;
}
footer#footer {
	bottom: 0;
	height: 1em;
	padding: .5em 0;
	z-index: 200;
}
header#header h1 {
	float: left;
	padding: 0 .1em;
	font-size: 1.5em;
	line-height: 2em;
}
#panel {
	margin: 0 25%;
	height: 100%;
	overflow: hidden;
}
#panel ul,
#panel ul li,
#panel ul li a {
	display: inline-block;
	height: 100%;
	margin: 0;
}
#panel ul li a {
	line-height: 3em;
	font-size: 1em;
	padding: 0 1.5em;
}
#game {
	position: absolute;
	width: 75%;
	top: 0;
	left: 0;
	bottom: 0;
}
#chat {
	position: absolute;
	width: 25%;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: left;
}
@media all and (max-width: 1200px) {
	#game {
		width: 66.66%;
	}
	#chat {
		width: 33.33%;
	}
}
@media all and (max-width: 800px) {
	#game {
		bottom: auto;
		height: 66.66%;
		width: 100%;
	}
	#chat {
		width: 100%;
		height: 33.33%;
		left: 0;
		top: auto;
	}
}
#game header {
	text-align: left;
	overflow: hidden;
	font-size: .9em;
}
#game header h2,
#clock {
	padding: .5em 1em;
	display: inline-block;
	height: 2em;
	font-size: 1em;
}
#game header h2 {
	line-height: 2em;
	padding-left: 3em;
	font-weight: bold;
}
#clock {
	float: right;
	text-align: center;
}
#clock span {
	display: block;
}
#timer {
	font-weight: bold;
}
#playtime {
	font-size: .75em;
}


#game footer {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: .85em;
}
#gameMenu ul,
#gameMenu ul li {
	list-style-type: none;
	display: inline-block;
}
#gameMenu li a {
	display: inline-block;
	padding: .5em 1em;
}

#chessboard {
	display: inline-block;
	position: relative;
	margin: 50px auto; /* default */
	font-size: 60px; /* default */
}

ol.prison {
	font-size: .55em;
	position: absolute;
}
ol#opp-prison {
	top: 5.55%;
	right: 0;
}
ol#own-prison {
	bottom: 5.55%;
	left: 0;
}


table#chessboardTable {
	table-layout: fixed;
	margin: 0 .6em; /* prison distance */
	width: 700px;
	height: 700px;
	border-collapse: collapse;
}
thead td,
tfoot td,
th {
	font-size: .33em;
	font-weight: normal;
}
thead, tfoot {
	height: 5.55%;
}
col.numbersColumn {
	width: 5.55%;
}
td.square {
	height: 11.11%;
	width: 11.11%;
	overflow: hidden;
	cursor: pointer;
}
.chesspiece {
	font-weight: normal;
	width: 85%;
	height: 85%;
	display: block;
	margin: auto;
	overflow: hidden;
	border-radius: 3px;
}

#chat > section {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 50px;
	padding: 5px;
	font-size: .75em;
	overflow-x: hidden;
	overflow-y: auto;
}

#chatLog {
	display: table;
	width: 100%;
	max-width: 100%;
}
#chatLog p {
	display: table-row;
}
#chatLog p span {
	display: table-cell;
	padding: .15em .3em;
}
#chatLog span.msgTime {
	opacity: .5;
	font-weight: 300;
	padding-left: 0;
	padding-right: .1em;
}
#chatLog span.msgAuthor {
	text-align: right;
}
#chatLog span.msgText {
    padding-right: 0;
	word-wrap: break-word;
	word-break: break-all;
}
#chatLog p.msgBot span {
	padding-top: .5em;
	padding-bottom: .5em;
}


#chatForm {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

#chatForm fieldset,
#chatForm fieldset > div,
#chatText,
#chatSubmit {
	display: block;
	height: 30px;
}
#chatForm fieldset > div {
	margin-right: 60px;
}
input#chatText {
	resize: none;
	width: 94%;
	padding: 0 3%;
}
input#chatSubmit {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
}


#footerMenu,
#footerMenu ul,
#footerMenu li,
#footerMenu a {
	display: inline-block;
}
#copyright,
#footerMenu {
	font-size: .75em;
}
#footerMenu {
	position: absolute;
	left: 0;
	margin: 0 2em;

}
#footerMenu li a {
	padding: 0 .5em;
}
/*
.overlay {
	position: fixed;
	z-index: 1000;
	top: 20%;
	left: 50%;
	max-height: 60;
	margin-left: -25%;
	width: 50%;
	background-color: rgba(0,0,0,.4);
}
.overlayContainer {
	display: inline-block;
	margin: 12px;
	padding: 2em;
	background-color: #eee;
}
/**/
.overlay {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(30,30,30,.2);
	text-align: center;
	padding: 0 25%;
}
.overlayContainer {
	display: inline-block;
	position: relative;
	top: 20%;
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 2em;
	padding-right: -10px;
	background-color: #eee;
	border: 15px solid rgba(0,0,0,.4);
	background-clip: padding-box;
	box-shadow: 0 0 3em rgba(0,0,0,.3);
}
/*
.overlayContainer {
	position: absolute;
	top: 20%;
	left: 50%;
	right: 50%;
	width: 30%;
	max-height: 50%;
	overflow: auto;
	margin-left: -15%;
	padding: 2em;
	text-align: left;
	background-clip: padding-box;
	background-color: #eee;
	border: 15px solid rgba(0,0,0,.4);
}*/
