.vertical-gradient (@top-color: red, @bottom-color: blue) {
	background: @top-color;
	background: -moz-linear-gradient(top,  @top-color 0%, @bottom-color 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top-color), color-stop(100%,@bottom-color));
	background: -webkit-linear-gradient(top,  @top-color 0%,@bottom-color 100%);
	background: -o-linear-gradient(top,  @top-color 0%,@bottom-color 100%);
	background: -ms-linear-gradient(top,  @top-color 0%,@bottom-color 100%);
	background: linear-gradient(to bottom,  @top-color 0%,@bottom-color 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@top-color', endColorstr='@bottom-color',GradientType=0 );
}


a:hover {
	text-shadow: 1px 1px 0 #fff,
				 0 0 3px rgba(0,0,0,.2);
}

@panel-top-color: #f5f5f5;
@panel-bottom-color: #e0e0e0;
header#header,
footer#footer {
	color: #444;
	text-shadow: 1px 1px 0 white;
	.vertical-gradient (@panel-top-color, @panel-bottom-color);
	box-shadow: 0 0 4px #777;
}

#panel ul {
	border-color:	red
					rgba(255,255,255,.4)
					red
					rgba(0,0,0,.1);
	border-width: 0 1px;
	
	li a {
		color: #666;
		border-color:	red
						rgba(0,0,0,.1)
						red
						rgba(255,255,255,.4);
		border-width: 0 1px;
		
		&:hover {
			.vertical-gradient (@panel-bottom-color, @panel-top-color);
			box-shadow: inset 0 0 10px rgba(0,0,0,.1);
		}
	}
}


div#main {
	color: #444;
	background-color: #ececec;
	
	> section {
	font-size: .85em;
		
		a {
			color: #777;
			&:hover {
				color: #999;
			}
		}
		
		> header {
			color: #666;
			text-shadow: 1px 1px 0 white;
			background-color: #f5f5f5;
			box-shadow: 0 0 2px #999;
		}
	}
}

footer#footer {
	color: #888;
	a:hover {
		color: #555;
	}
}
