ul.gameList {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: left;
	font-size: .9em;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #ddd;
	
	> li {
		display: inline-block;
		padding: 1em;
		// min-width: 25em;
		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		
		background-color: #e5e5e5;
		&:hover {
			background-color: #eee;
		}
		
		width: 100%;
		@media all and (min-width: 780px) and (max-width: 1159px) {
			width: 50%;
			&:nth-child(4n), &:nth-child(4n+1) {
				background-color: #ddd;
				&:hover {
					background-color: #d0d0d0;
				}
			}
		}
		@media all and (min-width: 1160px) and (max-width: 1549px) {
			width: 33.3%;
		}
		@media all and (min-width: 1550px) {
			width: 25%;
			&:nth-child(8n), &:nth-child(8n+1), &:nth-child(8n+3), &:nth-child(8n+6) {
				background-color: #ddd;
				&:hover {
					background-color: #d0d0d0;
				}
			}
		}
		@media all and (max-width: 779px), (min-width: 1160px) and (max-width: 1549px) {
			&:nth-child(odd) {
				background-color: #ddd;
				&:hover {
					background-color: #d0d0d0;
				}
			}
		}
		
		> a, > a:hover {
			float: left;
			color: inherit !important;
			span {
				display: none;
				&.icon {
					font-size: 4em;
					line-height: 3/4em;
					vertical-align: middle;
					padding: 0;
					margin-right: .25em;
					opacity: .5;
					text-shadow: 1px 1px 2px #aaa;
					&:hover {
						opacity: 1;
						// color: #555;
					}
				}
			}
		}
		dl {
			display: inline-block;
		}
		dt {
			&.whitePlayer, &.blackPlayer,
			&.status {
				display: none;
			}
		}
		dd {
			&.whitePlayer, &.blackPlayer {
				display: inline-block;
				font-weight: bold;
			}
			&.whitePlayer:after {
				content: " vs ";
				font-weight: normal;
				opacity: .66;
			}
		}
		.lastUpdate {
			display: inline-block;
		}
	}
	
}
