#game {
	width: 75%;
	right: 25%;
	header {
		#clock {
			float: right;
			text-align: center;
			span {
				display: block;
			}
			#timer {
				font-weight: bold;
			}
			#playtime {
				font-size: .75em;
			}
		}
	}
	
	footer {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: .85em;
		#gameMenu {
			ul, li {
				list-style-type: none;
				display: inline-block;
			}
			ul li a {
				display: inline-block;
				padding: .5em 1em;
			}
		}
	}
}

#chessboard {
	display: inline-block;
	position: relative;
	margin: 50px auto 0; /* default */
	font-size: 60px; /* default */
	
	// prevent text selection, varying browser support
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	ol.prison {
		font-size: .55em;
		position: absolute;
		li {
			cursor: default;
		}
	}
	ol#opp-prison {
		top: 5.55%;
		right: 0;
	}
	ol#own-prison {
		bottom: 5.55%;
		left: 0;
	}

	table#chessboardTable {
		table-layout: fixed;
		margin: 0 .6em; /* prison distance */
		width: 700px;
		height: 700px;
		border-collapse: collapse;
		thead td,
		tfoot td,
		th {
			font-family: 'Georgia';
			font-size: .33em;
			font-weight: normal;
		}
		thead, tfoot {
			height: 5.55%;
		}
		col.numbersColumn {
			width: 5.55%;
		}
		tbody td.square {
			height: 11.11%;
			width: 11.11%;
			// overflow: hidden;
			cursor: pointer;
			> div {
				width: 85%;
				height: 85%;
				margin: auto;
				// overflow: hidden;
				border-radius: 3px;
			}
			.chesspiece {
				display: block;
				width: 100%;
				height: 100%;
				font-weight: normal;
			}
		}
	}
}


#chat {
	position: absolute;
	width: 25%;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	#chatLogFrame {
		position: absolute;
		top: 10px;
		right: 10px;
		left: 10px;
		bottom: 50px;
		padding: 5px;
		font-size: .75em;
		overflow-x: hidden;
		overflow-y: auto;
		#chatLog {
			width: 100%;
			max-width: 100%;
			/* chatLog table layout */
			// display: table;
			// p {
			// 	display: table-row;
			// 	span {
			// 		display: table-cell;
			// 		padding: .15em .3em;
			// 		&.msgTime {
			// 			font-weight: 300;
			// 			padding-left: 0;
			// 			padding-right: .1em;
			// 		}
			// 		&.msgAuthor {
			// 			text-align: right;
			//			border-right-width: 1px;
			// 		}
			// 		&.msgText {
			// 		    padding-right: 0;
			// 			word-wrap: break-word;
			// 			//word-break: break-all;
			// 		}
			// 	}
			// 	&.msgBot span {
			// 		padding-top: .5em;
			// 		padding-bottom: .5em;
			// 	}
			// }
			/* chatLog blocks layout */
			p {
				display: block;
				margin-bottom: 5px;
				span {
					padding: 3px 5px;
					&.msgAuthor {
						display: block;
						font-weight: bold;
						font-size: 0.85em;
					}
					&.msgTime {
						float: right;
						font-size: 0.85em;
					}
					&.msgText {
						display: block;
						border-radius: 0 0 3px 3px;
					}
				}
			}
		}
	}

	#chatForm {
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
		fieldset,
		fieldset > div,
		input#chatText,
		button#chatSubmit {
			display: block;
			height: 30px;
		}
		fieldset > div {
			margin-right: 80px;
		}
		input#chatText {
			resize: none;
			width: 94%;
			padding: 0 3%;
		}
		button#chatSubmit {
			position: absolute;
			top: 0;
			right: 0;
			width: 80px;
		}
	}
}


@media all and (max-width: 1200px) {
	#game {
		width: 66.66%;
	}
	#chat {
		width: 33.33%;
	}
}
@media all and (max-width: 800px) {
	#game {
		bottom: auto;
		height: 66.66%;
		width: 100%;
	}
	#chat {
		width: 100%;
		height: 33.33%;
		left: 0;
		top: auto;
	}
}


@import "_gameColor.less";
// @import "_gameDark.less";
