@import "_font.less";

/*** GENERAL SETTINGS ***/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	text-align: center;
	font-family: 'Ubuntu';
}
*, input {
	padding: 0;
	margin: 0;
	border-width: 0;
	border-style: solid;
	font-size: 100%;

	-moz-transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-moz-transition-property: -moz-linear-gradient, color, background, background-color, background-image, border-color, opacity, text-shadow, box-shadow;
	-webkit-transition-property: -webkit-linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
	transition-property: linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
}
a {
	color: inherit;
	text-decoration: none;
}
a.jsAnchor {
	cursor: pointer;
}
ul, ol, li {
	list-style-type: none;
}
span.icon {
	font-family: Georgia, serif;
	display: inline-block !important;
	padding: 0 .2em;
	font-weight: normal;
	font-size: 1.333em;
	line-height: .75em;
}

/*** PAGE LAYOUT ***/

header#header,
div#main,
footer#footer {
	position: absolute;
	left: 0;
	right: 0;
}

header#header {
	top: 0;
	height: 3em;
	z-index: 200;
	h1 {
		float: left;
		padding: 0 .1em;
		font-size: 1.5em;
		line-height: 2em;
		// mainMenu centering
		width: 0;
		overflow: visible;
		white-space: nowrap;
	}
	#panel {
		margin: 0 12em;// 25%;
		height: 100%;
		overflow: hidden;
		* {
			display: inline-block;
			height: 100%;
			margin: 0;
			line-height: 3em;
			font-size: 1em;
		}
		ul li a,
		#loginForm fieldset {
			padding: 0 1.5em;
		}
		#loginForm {
			float: right;
			position: absolute;
			right: 0;
			input, button {
				font-size: .8em;
				height: 2em;
				max-width: 9em;
			}
		}
	}
}

div#main {
    top: 3em;
    bottom: 2em;
    z-index: 100;
    overflow: auto;
}

footer#footer {
	bottom: 0;
	height: 1em;
	padding: .5em 1em;
	z-index: 200;
	
	> * {
		font-size: .75em;
	}
	
	#footerMenu {
		float: left;
		&,
		ul,
		ul li,
		ul li a {
			display: inline-block;
		}
		ul li a {
			padding: 0 .5em;
		}
	}
}

/*** additional stuff ***/

.error {
	display: inline-block;
	min-width: 50%;
	margin: 4em;
	padding: 1em;
	font-size: 0.9em;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	&:before {
		content: "!";
		font-family: Georgia, serif;
		float: left;
		text-align: center;
		font-size: 2em;
		line-height: 1em;
		height: 1em;
		width: 1em;
		padding: .1em;
		margin: 0;
		border-radius: 3em;
		font-weight: normal;
	}
	h1, p {
		margin-left: 3em;
	}
	h1 {
		font-size: 1em;
	}
	a {
		text-decoration: underline;
	}
}


/*** imports ***/
@import "_page.less";
@import "_dataList.less";
@import "_user.less";

@import "_form.less";

@import "_globalColor.less";
//@import "_globalDark.less";

//@import "_overlay.less";
