@import "_font.less";

/*** GENERAL SETTINGS ***/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	text-align: center;
	font-family: 'Ubuntu';
}
*, input {
	padding: 0;
	margin: 0;
	border-width: 0;
	border-style: solid;

	-moz-transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-moz-transition-property: -moz-linear-gradient, color, background, background-color, background-image, border-color, opacity, text-shadow, box-shadow;
	-webkit-transition-property: -webkit-linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
	transition-property: linear-gradient, color, background, background-color, border-color, opacity, text-shadow, box-shadow;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, ol, li {
	list-style-type: none;
}
span.icon {
	display: inline-block;
	padding: 0 .2em;
	font-weight: normal;
	font-size: 1.333em;
	line-height: .75em;
}
span.vs {
	opacity: .5;
	font-weight: normal;
	padding: 0 .2em;
}


/*** PAGE LAYOUT ***/

header#header,
div#main,
footer#footer {
	position: absolute;
	left: 0;
	right: 0;
}

header#header {
	top: 0;
	height: 3em;
	z-index: 200;
	h1 {
		float: left;
		padding: 0 .1em;
		font-size: 1.5em;
		line-height: 2em;
	}
	#panel {
		margin: 0 25%;
		height: 100%;
		overflow: hidden;

		ul,
		ul li,
		ul li a {
			display: inline-block;
			height: 100%;
			margin: 0;
		}
		ul li a {
			line-height: 3em;
			font-size: 1em;
			padding: 0 1.5em;
		}
	}
}
div#main {
    top: 3em;
    bottom: 2em;
    z-index: 100;
    overflow: auto;
	> section {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		> header {
			text-align: left;
			overflow: hidden;
			font-size: .9em;
			> h1,
			> div {
				padding: .5em 1em;
				display: inline-block;
				height: 2em;
				font-size: 1em;
			}
			> h1 {
				line-height: 2em;
				padding-left: 3em;
				font-weight: bold;
			}
		}
	}
}

footer#footer {
	bottom: 0;
	height: 1em;
	padding: .5em 1em;
	z-index: 200;
	
	> * {
		font-size: .75em;
	}
	
	#footerMenu {
		float: left;
		&,
		ul,
		ul li,
		ul li a {
			display: inline-block;
		}
		ul li a {
			padding: 0 .5em;
		}
	}
}

/*** additional stuff ***/

.error {
	display: inline-block;
	min-width: 50%;
	margin: 4em;
	padding: 1em;
	font-size: 0.9em;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	h1 {
		font-size: 1.2em;
	}
}


/*** imports ***/
@import "_globalColor.less";
//@import "_globalDark.less";
@import "_page.less";
//@import "_overlay.less";
